<form>
    <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="gappx" style="width: 500px;">
        <mat-form-field appearance="fill">
            <mat-label>Product</mat-label>
            <mat-select formControlName="selectedProductId">
                <mat-option *ngFor="let product of products" [value]="product.id">
                    {{product.title}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Aliexpress HTML</mat-label>
            <textarea matInput class="product-html-comments" formControlName="htmlComments"></textarea>
        </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="gappx">
        <button mat-button color="primary">Import</button>
        <button mat-button color="warn">Cancel</button>
    </div>
</form>