<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">{{ formTitle | uppercase }}</h6>
                <form class="forms-sample" [formGroup]="formGroup">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" autocomplete="off" placeholder="Title"
                            formControlName="title">
                        <p class="text-danger mt-1" *ngIf="submitted && form?.title.errors?.required">this field is
                            mandatory</p>
                        <p class="text-danger mt-1" *ngIf="submitted && form?.title.errors?.minlength">3 characters for
                            the minimal
                            length</p>
                    </div>
                    <div class="form-group">
                        <label for="primaryText">Primary Text</label>
                        <input type="text" class="form-control" id="primaryText" autocomplete="off"
                            placeholder="Primary Text" formControlName="primaryText">
                        <p class="text-danger mt-1" *ngIf="submitted && form?.primaryText.errors?.required">this field
                            is mandatory
                        </p>
                        <p class="text-danger mt-1" *ngIf="submitted && form?.primaryText.errors?.minlength">3
                            characters for the
                            minimal length</p>
                    </div>
                    <div class="form-group">
                        <label for="secondaryText">Secondary Text</label>
                        <input type="text" class="form-control" id="secondaryText" autocomplete="off"
                            placeholder="Secondary Text" formControlName="secondaryText">
                    </div>
                    <div class="form-group">
                        <label for="productIds">Products belong with it</label>
                        <ng-select id="productIds" [items]="products$ | async" bindLabel="title" bindValue="id"
                            placeholder="Select item" formControlName="productIds" [multiple]="true">
                        </ng-select>
                        <p class="text-danger mt-1" *ngIf="submitted && form?.productIds.errors?.required">this field is
                            mandatory
                        </p>
                        <p class="text-danger mt-1" *ngIf="submitted && form?.productIds.errors?.maxlength">3 products
                            max</p>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2" (click)="saveUpsell()"
                        [disabled]="!formGroup.dirty">Save</button>
                    <button class="btn btn-light" (click)="cancelChange()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>