<div class="row w-100 mx-0 auth-page">
  <div class="col-md-8 col-xl-6 mx-auto">
    <div class="card">
      <div class="row">
        <div class="col-md-4 pr-md-0">
          <div class="auth-left-wrapper">

          </div>
        </div>
        <div class="col-md-8 pl-md-0">
          <div class="auth-form-wrapper px-4 py-5">
            <a routerLink="." class="noble-ui-logo logo-light d-block mb-2">Shopi<span>All</span></a>
            <h5 class="text-muted font-weight-normal mb-4">Welcome back! Log in to your account.</h5>
            <form action="/authentication/token" method="GET" class="forms-sample">
              <div class="form-group">
                <label for="shopName">Shopify shop name</label>
                <input type="text" id="shopName" class="form-control" placeholder="shopname without shopify domaine"
                  name="shop">
              </div>
              <div class="mt-3">
                <button type="submit" class="btn btn-primary mr-2 mb-2 mb-md-0">Login</button>
                <button type="button" class="btn btn-outline-primary btn-icon-text mb-2 mb-md-0">
                  <i class="feather icon-facebook btn-icon-prepend"></i>
                  Login with facebook
                </button>
              </div>
              <a routerLink="/auth/register" class="d-block mt-3 text-muted">Not a user? Sign up</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>