<div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
    <button class="btn btn-danger btn-sm" (click)="remove()" [disabled]="selectedUpsell === undefined">Delete</button>
    <button class="btn btn-secondary btn-sm" (click)="edit()" [disabled]="selectedUpsell === undefined">Edit</button>
    <a class="btn btn-success btn-sm" routerLink="create" routerLinkActive='active'>Add</a>
</div>
<h5>Upsells</h5>
<mat-card class="upsell-list-child-container">
    <ag-grid-angular *ngIf="upsellList$ | async" style="width: 100%; height: 500px;" class="ag-theme-material"
        [rowData]="upsellList$ | async" [columnDefs]="columnDefs" (selectionChanged)="onSelectionChanged()"
        (gridReady)="onGridReady($event)">
    </ag-grid-angular>
</mat-card>